html {
  background-image: url("images/streetbackground.png");
  background-size: 100% 100%;
  
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-family: "Black Han Sans";
  font-size: 50px;
  color: white;
  text-shadow: 3px 2px red;
  padding-top: 50px;
  margin: 0px;
}

h2 {
  font-family: "Black Han Sans";
  font-size: 30px;
  color: white;
  text-shadow: 3px 2px red;
}

body {
  padding-left: 50px;
  text-align: center;
  margin: 0px;
  width: 100vw;
  height: 100vh;
}

h3 {
  margin: 0px;
  font-family: "Black Han Sans";
  font-size: 50px;
  color: white;
  text-shadow: 3px 2px blue;

}
 p {
  font-size: 20px;
  color: #fefefe;
  padding: 10px;
}

/* #soju {
  float: left;
  padding: 20px;
}

#beer {
  float: left;
  padding: 20px;
}

#soup {
  float: left;
  padding-top: 20px;
} */

/* canvas {
  border: 1px solid black;
  } */

#score {
  display: flex;
}

sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between ;
  font-family: "Black Han Sans";
  color: white;
  font-size: 40px;
  text-shadow: 3px 2px blue;
  width: 20%;
  margin: 0;
}

#toxic{
  padding-right: 10;
}

#soju{
  padding: 0;
}

#beer{
  padding: 0;
}

#soup{
  padding: 0;
  
}


#start-button {
  width: 200px;
  height: 100px;
  line-height: 113px;
  margin-top: 250px;
  font-family: "Black Han Sans";
  font-size: 80px;
  background-color: #fefefe;
  box-shadow: 5px -8px red;
  color: red;
  text-shadow: 3px 2px yellow;
  border: transparent;
}

#play-again {
  width: 200px;
  height: 100px;
  line-height: 113px;
  font-family: "Black Han Sans";
  font-size: 50px;
  background-color: blue;
  box-shadow: 5px -8px red;
  color: red;
  text-shadow: 3px 2px yellow;
  border: transparent;
}

#game {
  width: 0px;
  margin-top: 300px;
}

#game-section-container {
  background-image: url("images/frame.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 700px;
  height: 700px;
  margin-top: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-flex-container {
 }

#gameover-message {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#printer{
  padding-left: 30px;
}


h4{
  font-family: "Black Han Sans";
  font-size: 40px;
  color: white;
  text-shadow: 3px 2px red;
  margin: 0px;
  
}

.container-flex-img-point {
  display: flex;
  align-content: center;
}

.page-structure {
  display: flex;
  flex-direction: row;
}

#score{
  display:flex;
  align-content: flex-end ;
}
